<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://conteudo.imguol.com.br/c/entretenimento/96/2020/08/07/iron-man-1596813808466_v2_900x506.jpg"
        alt=""
        height="200px"
        >
    <div class="big-card__title">
        <h1><a href="#">SAIU a nova versão do Ângular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet. Nam aperiam veniam et assumenda esse qui quisquam quia aut sunt libero et fugiat commodi qui nemo dolores sed beatae facilis.
            </a>
        </p>
    </div>
</div>